.App {
  text-align: center;
}

.app__form {
  padding: 20px;
  position: fixed;
  bottom: 0;
  z-index: 1;
  background-color: #e9e9eb;
  width: 99%;
}

.app__formControl {
  display: flex !important;
  flex-direction: row !important;
  justify-content: center;
  align-items: center;
}

.app__input {
  flex: 1;
}

.app_iconButton {
  flex: 0;
}

.app__messages {
  padding-bottom: 88px;
}
